body{
  width: 100vw;
  height: 100vh;
}

h3 {
  padding: 1rem 0;
  font-size: small;
}
h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

.container{
  margin-top: 70px;
}
.submitbtn{
  display: block !important;
  margin: 0 auto !important;
}
.navbar-brand{
  margin-left: 2rem !important;
}
.productImage{
  display: inline-block;
  width: 100px;
  height: 100px;
}

  @media only screen and (max-width: 990px) {
   .qtySelectBox{
     padding:0.75rem 0.5rem !important;
  }
}

.backLink{
  font-size: 1.4rem;
  cursor: pointer;
  color:violet;
}
.goBack{
  display: inline-block;
  margin-left: 0.5rem;
}